---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = "About Me";
const identity = {
  firstName: "Kainny",
  lastName: "Godinez",
  originCountry: "Mexico",
  currentResidence: "Utah",
  currentOccupation: "Loan Officer",
  hobbies: ["music", "videogames", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "C++"];


const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    
	</head>
	<body>
    <Header />
    <h1>{pageTitle}</h1>
    <h2>... and my progress learning Astro!</h2>
  
    <p>This about me is the first astro page I create with the help of the tutorial knowledge.</p>
    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>I am from {identity.originCountry} although I live currently in {identity.currentResidence}and I work as a {identity.currentOccupation} currently.</li>
      {identity.hobbies.length >= 2 &&
      <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}.</li>
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    <Footer />
  </body>
</html>
